<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <!-- <servlet> -->
        <!-- <servlet-name>Hello</servlet-name> -->
        <!-- <servlet-class>Hello</servlet-class> -->
    <!-- </servlet> -->

    <!-- <servlet-mapping> -->
        <!-- <servlet-name>Hello</servlet-name> -->
        <!-- <url-pattern>/Hello</url-pattern> -->
    <!-- </servlet-mapping> -->

    <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.xtml</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>