<?xml version="1.0" encoding="UTF-8"?>


<web-app>

<!-- Servlet Declaration -->
    <servlet>
        <servlet-name>Template</servlet-name>
        <servlet-class>Template</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Template</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>